<div class="row bg-success">
 <div class="col-sm-1"></div>
 <div class="col-sm-3 bg-primary text-white">
   <img src="https://unsplash.com/photos/F_-0BxGuVvo" alt="userimage"/>
 </div>
  <div class="col-sm-7 bg-dark text-white row">
      <div class = " col-sm-6">
   <h3>User name <h3>
   </div>
     <div class = "col-sm-6">
       <p>number of post</p>
      </div>
  </div>
 <div class="col-sm-1"></div>
</div>

<div class="row bg-success">
 <div class="col-sm-1"></div>
 <div class="col-sm-3 bg-primary text-white">
   <img src="https://unsplash.com/photos/F_-0BxGuVvo" alt="userimage"/>
 </div>
  <div class="col-sm-7 bg-dark text-white row">
      <div class = " col-sm-6">
   <h3>User name <h3>
   </div>
     <div class = "col-sm-6">
       <p>number of post</p>
      </div>
  </div>
 <div class="col-sm-1"></div>
</div>

