<% if @Users.empty? %>
<h1> Plase add user at first</h1>
<%end%>
<div class = "container">
<% @Users.each do |user|%>
  <a href="/users/<%= user.id %>" class="text-decoration-none">
        <%= render 'shared/user', user: user %>
  </a>

<%end%>
</div>

